html {

    overflow: auto;
}

body {

  background: #f9f9f9;
  /*height: 550px;*/
  padding: 10px;
  overflow: hidden;
  width: 600px;
}

.margin-top-15 {

    margin-top: 15px;
}

.pointer {

    cursor: pointer;
}