<div class="row pre-footer">

    <!-- Signature selection -->
    <div class="col-xs-3">
        <p class="text-center"><strong>Your signatures</strong></p>
        <ul class="nav nav-pills nav-stacked full-width border-bottom">
            <li data-ng-repeat="signature in options.signatures track by $index"
                data-ng-class="{'active': options.selectedSignature.name == signature.name}">
                <a class="pointer" data-ng-click="selectSignature( signature );">{{ signature.name }}</a>
            </li>
            <li>
                <a class="pointer text-center" data-ng-click="openTemplates();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        <p class="text-center margin-top-15"><strong>Your settings</strong></p>
        <p>
            <a class="btn btn-default full-width" data-ng-click="openUserInfoWizard();">My personal info</a>
        </p>
    </div>

    <!-- Signature details -->
    <div class="col-xs-9 border-left">

        <!-- Signature name -->
        <form class="form-horizontal margin-top-15">
            <div class="form-group">
                <label for="inputName" class="col-xs-2 control-label">Name:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputName" placeholder="name" data-ng-model="options.selectedSignature.name">
                </div>
            </div>
        </form>

        <!-- Editor -->
        <div class="panel panel-default margin-top-15" data-ng-show="options.advanced">
            <div class="panel-heading">
                <h3 class="panel-title">Signature code</h3>
            </div>
            <div class="panel-body">
                <p><small><em>To get the best results, avoid having new lines in your code.</em></small></p>
                <textarea data-ng-model="options.selectedSignature.code" placeholder="Signature HTML code here..." class="form-control" rows="5"></textarea>
            </div>
        </div>

        <!-- Preview -->
        <div class="panel panel-default margin-top-15">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span>Signature preview</span>
                    <span class="pull-right"><small><label><input type="checkbox" data-ng-model="options.advanced"/> Show editor</label></small></span>
                </h3>
            </div>
            <div class="panel-body">
                <div data-ng-bind-html="getSignaturePreview();" data-ng-if="options.selectedSignature.code"></div>
                <p data-ng-if="!options.selectedSignature.code"><em>Nothing to preview...</em></p>
            </div>
        </div>

    </div>

</div>

<!-- Buttons -->
<div class="footer">
    <div class="footer-content">
        <!-- Feedback and buttons -->
        <div class="row">
            <div class="col-xs-6 text-left">
                <!-- Feedback message -->
                <p>
                    <strong data-ng-class="{'text-success': options.feedback.code == 'OK', 'text-danger': options.feedback.code != 'OK'}" data-ng-show="options.feedback.code" data-ng-bind="options.feedback.message"></strong>
                </p>
            </div>
            <div class="col-xs-offset-2 col-xs-2 text-center">
                <!-- Remove button -->
                <a class="btn btn-danger full-width" data-ng-click="removeSignature();" data-ng-disabled="options.signatures.length == 1">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                </a>
            </div>
            <div class="col-xs-2 text-center">
                <!-- Save button -->
                <a class="btn btn-success full-width" data-ng-click="saveOptions();">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                </a>
            </div>
        </div>
    </div>
</div>