<div class="pre-footer">
    <h4 class="text-center">New signature</h4>

    <hr />

    <!-- Signature name -->
    <form class="form-horizontal margin-top-15">
        <div class="form-group">
            <label for="inputName" class="col-xs-4 control-label">Enter a signature name:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="inputName" placeholder="Signature name" data-ng-model="options.newSignature.name">
            </div>
        </div>
    </form>

    <!-- Signature templates -->
    <p class="text-center">
        <label><strong><input type="checkbox" data-ng-model="options.newSignature.useTemplate" /> I want to use a template</strong></label>
    </p>
    <div data-ng-show="options.newSignature.useTemplate">
        <div class="well">
            <div class="row">
                <div class="col-xs-3">
                    <p>
                        <strong data-ng-bind="options.newSignature.template.name"></strong><br />
                        <small><em>By <span data-ng-bind="options.newSignature.template.author"></span></em></small>
                    </p>
                    <p data-ng-bind="options.newSignature.template.description"></p>
                </div>
                <div class="col-xs-9 border-left">
                    <div class="text-left signature-container">
                        <div data-ng-bind-html="getTrustedHTML( getCodeFromTemplateWithMessages( options.newSignature.template ) );"></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous" data-ng-click="previousTemplate();">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li data-ng-class="{'active': options.newSignature.template.id == template.id}" data-ng-repeat="template in options.templates">
                    <a href="#" data-ng-click="selectTemplate( template.id );">
                        {{ (template.id + 1) }}
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Next" data-ng-click="nextTemplate();">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Messages -->
        <p class="text-center">
            <strong>Add additional messages</strong>
        </p>
        <p class="text-center" data-ng-repeat="message in options.messages">
            <label>
                <input type="checkbox" data-ng-model="message.selected" />
                <span data-ng-bind="message.name"></span>
            </label>
        </p>
    </div>
</div>

<!-- Buttons -->
<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default pointer full-width" data-ng-click="openOverview();">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-success pointer full-width" data-ng-click="createSignature();">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Create
                </a>
            </div>
        </div>
    </div>
</div>