<h2 class="text-center">Hello there, we need some info to get started!</h2>
<hr />

<div class="row">

    <div class="col-xs-8 border-right">

        <form class="form-horizontal" data-ng-submit="saveUserInfo();">

            <!-- Name -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your name here.' );">
                <label for="inputName" class="col-xs-4 control-label text-right">Name: *</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputName" placeholder="John Doe" data-ng-model="options.userInfo.name" data-ng-required="true" required>
                </div>
            </div>

            <!-- Phone -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your phone number here.' );">
                <label for="inputPhone" class="col-xs-4 control-label text-right">Phone:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputPhone" placeholder="+32 012 34 56 78" data-ng-model="options.userInfo.phone">
                </div>
            </div>

            <!-- Picture -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter a link to your picture here. You can use dropbox, Gravatar, or an image host to upload your picture to. Please keep your picture small: 200x200 is advised.' );">
                <label for="inputPicture" class="col-xs-4 control-label text-right">Picture:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputPicture" placeholder="https://" data-ng-model="options.userInfo.picture">
                </div>
            </div>

            <!-- Job title -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your job title here.' );">
                <label for="inputJobTitle" class="col-xs-4 control-label text-right">Job Title:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputJobTitle" placeholder="Software Engineer" data-ng-model="options.userInfo.job.title">
                </div>
            </div>

            <!-- Company -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your company\'s name here.' );">
                <label for="inputJobCompany" class="col-xs-4 control-label text-right">Company Name:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputJobCompany" placeholder="MyCompany Inc." data-ng-model="options.userInfo.job.company">
                </div>
            </div>

            <!-- Website URL -->
            <div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter the URL to your, or your company\'s website here.' );">
                <label for="inputWebsiteURL" class="col-xs-4 control-label text-right">Website URL:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputWebsiteURL" placeholder="https://" data-ng-model="options.userInfo.website.url">
                </div>
            </div>

            <!-- Website Name -->
            <div class="form-group" data-ng-show="options.userInfo.website.url" data-ng-mouseover="setWizardMessage( 'Please enter the name of your, or your company\'s website here.' );">
                <label for="inputWebsiteName" class="col-xs-4 control-label text-right">Website Name:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="inputWebsiteName" placeholder="visit us" data-ng-model="options.userInfo.website.name">
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
            </button>

        </form>

    </div>

    <!-- Info panel-->
    <div class="col-xs-4">
        <p class="text-left">
            <strong>
                Warning: changes made here will <span class="underline">not</span> reflect on existing signatures!
            </strong>
        </p>
        <p><small>Please fill out your name, phone, picture, job title and company to get the best results</small></p>
        <p><small>* are required fields</small></p>
        <p class="border-top text-center" data-ng-if="options.userInfo.picture">
            <img class="picture-preview" data-ng-src="{{ options.userInfo.picture }}" alt="Picture Preview" />
        </p>
        <p class="border-top text-left"><small data-ng-bind="options.wizardMessage"></small></p>
    </div>

</div>