<div style="margin-top: 8px;">
    <a id="apps.appStore" style="text-decoration: none;" href="${apps.appStore}" target="_blank">
        <img style="height: 30px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/apple.png" alt="Download from the App Store" />
    </a>
    <a id="apps.googlePlay" style="text-decoration: none;" href="${apps.googlePlay}" target="_blank">
        <img style="height: 30px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/google.png" alt="Download from Google Play" />
    </a>
    <a id="apps.microsoftStore" style="text-decoration: none;" href="${apps.microsoftStore}" target="_blank">
        <img style="height: 30px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/microsoft.png" alt="Download from the Microsoft Store" />
    </a>
    <a id="apps.amazonAppStore" style="text-decoration: none;" href="${apps.amazonAppStore}" target="_blank">
        <img style="height: 30px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/amazon.png" alt="Download from the Amazon Appstore" />
    </a>
</div>