<table border="0" cellspacing="0" cellpadding="0" width="470" style="width: 470px;">
    <tbody>
    <tr valign="top">
        <td style="padding-left: 0px; width: 10px; padding-right: 10px;">
            <img id="picture" src="${picture}" width="65" height="71" alt="" style="border-radius: 4px; moz-border-radius: 4px; khtml-border-radius: 4px; o-border-radius: 4px; webkit-border-radius: 4px; ms-border-radius: 4px; width: 65px; height: 71px; max-width: 120px;" />
        </td>
        <td style="border-right: 1px solid #64B634;">
            <p>&nbsp;</p>
        </td>
        <td style="text-align: initial; font: 14px Arial; color: #646464; padding: 0 10px;">
            <div>
                <b>${name}</b><br />
                <span id="job.title">${job.title}<span id="job.company">, ${job.company}</span></span>
            </div>
            <div style="color: #8d8d8d; font-size: 13px; padding: 5px 0;">
                <span id="mobile" style="display: inline-block;">
                    <a href="tel:${tel}" style="color: #8d8d8d; text-decoration: none;">${mobile}</a>
                </span>
                <span id="phone" style="display: inline-block;">
                    <span style="color: #64B634; display: inline-block;">|</span>
                    <span style="color: #8d8d8d;">${phone}</span>
                </span>
                <span id="website" style="white-space: nowrap; display: inline-block;">
                    <span style="color: #64B634; display: inline-block;">|</span>
                    <a href="${website.url}" target="_blank" style="color: #8d8d8d; text-decoration: none;">${website.name}</a>
                </span>
            </div>
            <div>
                <a id="skype" style="text-decoration: none;" href="skype:${skype}?call">
                    <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/skype.png" alt="Skype" />
                </a>
                <a id="facebook" style="text-decoration: none;" href="${facebook}" target="_blank">
                    <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/facebook.png" alt="Facebook" />
                </a>
                <a id="twitter" style="text-decoration: none;" href="${twitter}" target="_blank">
                    <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/twitter.png" alt="Twitter" />
                </a>
                <a id="linkedin" style="text-decoration: none;" href="${linkedin}" target="_blank">
                    <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/linkedin.png" alt="Linkedin" />
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>