<p>
    Kind regards,
    <br/>
    ${name}
    <span id="job.title">
        <br />${job.title}<span id="job.company">, ${job.company}</span>
    </span>
    <span id="mobile">
        <br />
        <strong>M</strong> ${mobile}
    </span>
    <span id="phone">
        <strong>T</strong> ${phone}
    </span>
    <span id="fax">
        <strong>F</strong> ${fax}
    </span>
    <span id="address.line1">
        <br />${address.line1}
    </span>
    <span id="address.line2">
        <br />${address.line2}
    </span>
    <span id="website">
        <br /><a href="${website.url}" target="_blank">${website.name}</a>
    </span>
    <br />
    <a id="skype" style="text-decoration: none;" href="skype:${skype}?call">
        <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/skype_black.png" alt="Skype" />
    </a>
    <a id="facebook" style="text-decoration: none;" href="${facebook}" target="_blank">
        <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/facebook_black.png" alt="Facebook" />
    </a>
    <a id="twitter" style="text-decoration: none;" href="${twitter}" target="_blank">
        <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/twitter_black.png" alt="Twitter" />
    </a>
    <a id="linkedin" style="text-decoration: none;" href="${linkedin}" target="_blank">
        <img style="height: 15px; width: auto;" src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/linkedin_black.png" alt="Linkedin" />
    </a>
</p>