<table border="0" cellspacing="0" cellpadding="0" width="470" style="width: 470px;">
    <tbody>
    <tr>
        <td colspan="3" style="font: 13px Helvetica,serif; color: #333333; border-bottom: 1px solid #0072b1;">
            <b style="color: #0072b1; font-size:13px;">John Doe</b> <span style="font-size: 13px;">Software Engineer, MyCompany Inc.</span>
        </td>
    </tr>
    <tr>
        <td valign="top" style="text-align: initial; font-family: Tahoma,serif; white-space: nowrap; color: #777777; padding-top: 5px;">
            <img src="https://giannivanhoecke.com/sig/mobile.png">&nbsp;<a href="tel:+32012345678" style="color: #777777; text-decoration: none;font-size:11px;">+32 012 34 56 78</a>
        </td>
        <td valign="top" style="text-align: initial; font-family: Tahoma,serif; white-space: nowrap; color: #777777; padding-top: 5px;">
            <img src="https://giannivanhoecke.com/sig/website.png">&nbsp;<a href="https://github.com/giannivh/SigJar" target="_blank" style="color: #777777; text-decoration: none;font-size:11px;">https://github.com/giannivh/SigJar</a>
        </td>
        <td valign="top" style="text-align: end; padding-top: 5px;">
            <img src="https://giannivanhoecke.com/sig/nopicture.png" width="65" height="71" style="border-radius:4px;moz-border-radius:4px;khtml-border-radius:4px;o-border-radius:4px;webkit-border-radius:4px;ms-border-radius: 4px;">
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top: 5px;">
            <p style="border-top:1px solid #0072b1; font-size:1px;">&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>