<table border="0" cellspacing="0" cellpadding="0" width="470" style="width: 470px;">
    <tbody>
    <tr>
        <td colspan="3" style="font: 13px Helvetica,serif; color: #333333; border-bottom: 1px solid #0072b1;">
            <b style="color: #0072b1; font-size:13px;">${name}</b>
            <span id="job.title" style="font-size: 13px;">${job.title}<span id="job.company" style="font-size: 13px;">, ${job.company}</span></span>
        </td>
    </tr>
    <tr>
        <td valign="top" style="text-align: initial; font-family: Tahoma,serif; white-space: nowrap; color: #777777; padding-top: 5px;">
            <span id="phone">
                <img src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/mobile.png">
                <a href="tel:${tel}" style="color: #777777; text-decoration: none;font-size:11px;">${phone}</a>
            </span>
        </td>
        <td valign="top" style="text-align: initial; font-family: Tahoma,serif; white-space: nowrap; color: #777777; padding-top: 5px;">
            <span id="website">
                <img src="https://raw.githubusercontent.com/giannivh/SigJar/master/images/website.png">
                <a href="${website.url}" target="_blank" style="color: #777777; text-decoration: none;font-size:11px;">${website.name}</a>
            </span>
        </td>
        <td valign="top" style="text-align: end; padding-top: 5px;">
            <img id="picture" src="${picture}" width="65" height="71" style="border-radius:4px;moz-border-radius:4px;khtml-border-radius:4px;o-border-radius:4px;webkit-border-radius:4px;ms-border-radius: 4px;">
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top: 5px;">
            <p style="border-top:1px solid #0072b1; font-size:1px;">&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>