<!-- Skype -->
<div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your Skype ID here.' );">
    <label for="inputSkype" class="col-xs-4 control-label text-right">Skype:</label>
    <div class="col-xs-8">
        <input type="text" class="form-control" id="inputSkype" placeholder="myskypeid" data-ng-model="options.userInfo.skype">
    </div>
</div>

<!-- Facebook -->
<div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your full Facebook profile link here.' );">
    <label for="inputFacebook" class="col-xs-4 control-label text-right">Facebook:</label>
    <div class="col-xs-8">
        <input type="text" class="form-control" id="inputFacebook" placeholder="https://www.facebook.com/YourCompany" data-ng-model="options.userInfo.facebook">
    </div>
</div>

<!-- Twitter -->
<div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your full Twitter profile link here.' );">
    <label for="inputTwitter" class="col-xs-4 control-label text-right">Twitter:</label>
    <div class="col-xs-8">
        <input type="text" class="form-control" id="inputTwitter" placeholder="http://www.twitter.com/YourCompany" data-ng-model="options.userInfo.twitter">
    </div>
</div>

<!-- Linkedin -->
<div class="form-group" data-ng-mouseover="setWizardMessage( 'Please enter your full Linkedin profile link here.' );">
    <label for="inputLinkedin" class="col-xs-4 control-label text-right">Linkedin:</label>
    <div class="col-xs-8">
        <input type="text" class="form-control" id="inputLinkedin" placeholder="http://www.linkedin.com/company/YourCompany" data-ng-model="options.userInfo.linkedin">
    </div>
</div>